* {
  margin: 0%;
  padding: 0%;
  background-color: bisque;
}
/* .header {
  font-size: 50px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: crimson;
  text-align: center; 
 } */

.slidercontent {
  height: 100px;
  width: 30%;
  display: inline-block;
  margin-top: 200%;
  margin-left: 30%;
  background-color: black;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  line-height: 30px;
  font-size: 50px;
  color: rgb(204, 204, 65);
}
.main {
  height: 600px;
  width: 100%;
  background-color: rosybrown;
  overflow: hidden;
}
.main-child {
  height: 600px;
  width: 500%;
  display: flex;
  animation-name: slider;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-delay: 3s;
}
.child {
  height: 600px;
  width: 20%;
  background-color: rgb(169, 90, 206);
  font-size: 50px;
}
.main-child:hover {
  animation-play-state: paused;
}
.child:nth-child(1) {
  background-image: url("./sliderimage/alexandre-debieve-BYId1ZNXW7Q-unsplash.jpg");
}
.child:nth-child(2) {
  background-image: url("./sliderimage/johannes-plenio-3frKqU4EaEY-unsplash.jpg");
}
.child:nth-child(3) {
  background-image: url("./sliderimage/marek-piwnicki-Dea1hc8lSg0-unsplash.jpg");
}
.child:nth-child(4) {
  background-image: url("./sliderimage/patrick-hendry-tKyXbJNH2bQ-unsplash.jpg");
}
.child:nth-child(5) {
  background-image: url("./sliderimage/alexandre-debieve-BYId1ZNXW7Q-unsplash.jpg");
}

@keyframes slider {
  20% {
    margin-left: -100%;
  }
  40% {
    margin-left: -200%;
  }
  60% {
    margin-left: -300%;
  }
  80% {
    margin-left: -400%;
  }
  100% {
    margin-left: -500%;
  }
}
