                            /* NAVBAR ON HOVER FONT FAMILY*/
                            
                            #navbarid .nav-item:hover .nav-link {
                                font-family: cursive;
                                animation: navbar 1s ease-in-out infinite alternate;
                            }
                            /* NAVBAR BRAND ON HOVER  FONT FAMILY CHANGE */
                            
                            .navbar .navbar-brand:hover {
                                font-family: cursive;
                                animation: navbar-brand 1s ease-in-out infinite alternate;
                            }
                            /* NAVBAR ON HOVER GLOWUP */
                            
                            .navbar {
                                color: #fff;
                                text-align: center;
                                animation: glow 1s ease-in-out infinite alternate;
                            }
                            /* NAVBAR-BRAND ON HOVER GLOWUP */
                            
                            .navbar-brand {
                                color: #fff;
                                text-align: center;
                                animation: navbar-brand 1s ease-in-out infinite alternate;
                            }
                            /* H1 COLOR CHANGES */
                            
                            h1 {
                                background-color: black;
                                text-align: center;
                                color: #fff;
                            }
                            
                            * {
                                background-color: palevioletred;
                            }
                            
                            @keyframes navbar {
                                from {
                                    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
                                }
                                to {
                                    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
                                }
                            }
                            
                            @keyframes navbar-brand {
                                from {
                                    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
                                }
                                to {
                                    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
                                }
                            }